html, body{
    margin: 0;
    font-family: "Playfair", serif;
    background-color: #FAF9F6;
}

* {
    font-family: 'Playfair Display', serif;
}

/*SECTION 1*/
.book-section-1{
    margin-top: 80px;
    margin-bottom: 10vh;
}

.div-main-book-section-1{
    display: flex;
    justify-content: center;
    width: 100%;
}

.div-left-book{
    width: 30%;
}

.div-right-book{
    width: 30%;
}

.img-left-book{
    display: flex;
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
}


.div-center-book {
    width: 60%;
    max-width: 600px;
    margin: 0 auto;
    padding: clamp(30px, 5vh, 50px) 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-text-center-book {
    text-align: center;
    margin-bottom: clamp(30px, 5vh, 50px);
}

.main-text-book {
    font-size: clamp(24px, 2vw, 40px);
    color: #817773;
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.24em;
}

.sub-text-book {
    font-size: clamp(16px, 1.2vw, 22px);
    color: #817773;
    font-family: 'Playfair';
    font-style: italic;
    font-weight: 300;
}

/* Форма */
.div-booking-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(40px, 7vh, 77px);
    align-items: center;
}

.form-item {
    display: flex;
    align-items: center;
    border: 1px solid #817773;
    overflow: hidden;
    width: 90%;
}

.form-item-number {
    width: 10%;
    background: #817773;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5vw;
}

.form-item-number span {
    font-family: 'Montagu Slab', serif;
    font-weight: 500;
    font-style: normal;
    font-size: clamp(16px, 2vw, 36px);
    line-height: 1.9;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}


.form-item-input {
    flex: 1;
    padding: 12px 16px;
}

.form-item-input input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(129, 119, 115, 0.7);
    outline: none;
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 400;
    color: #817773;
    background: #FAF9F6;
    font-size: clamp(20px, 1.5vw, 24px);
    color: rgba(129, 119, 115, 0.7);
    padding: 1px 0;
}

.form-item-input input::placeholder {
    color: rgba(129, 119, 115, 0.7);
    text-decoration: none; /* убираем подчёркивание у плейсхолдера */
}

.form-item-input input:focus {
    border-bottom: 2px solid rgba(129, 119, 115, 1);
}

.btn-second-non-active{
    width: clamp(200px, 15vw, 300px);
    height: clamp(50px, 3.5vw, 70px);
    color: #FAF9F6;
    background-color: #9E9794;
    border: 1.5px solid #FAF9F6;
    border-radius: 30px;
    cursor: pointer;
    font-size: clamp(22px, 1.8vw, 34px);

    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-second-non-active:hover {
    color: #FAF9F6;
    background-color: #817773;
}


/*SECTION 2*/
.book-section-2{
    margin-bottom: 10vh;
}

.div-main-faq-section-2 {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.div-left-faq {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: height 0.2s ease; /* плавная подстройка высоты */
    height: 50vh; /* изначальная высота 75% экрана */
}

.img-left-faq {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 50vh;
}

.div-right-faq {
    width: 60%;
    margin-left: 5vw;
}

.main-text-faq {
    font-size: clamp(24px, 2vw, 36px);
    color: #817773;
    margin-bottom: 2rem;
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.15em;
}

/* Аккордеон */
.faq-item {
    border: 1px solid #817773;
    border-radius: 8px;
    margin-bottom: 1rem;
    overflow: hidden;
}

.faq-question {
    padding: 16px 20px;
    background: #817773;
    cursor: pointer;
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 400;
    color: #FAF9F6;
    transition: background 0.5s;
    line-height: 1.7;
    letter-spacing: 0.2em;
    font-size: clamp(22px, 1.5vw, 32px);
}

.faq-question:hover {
    background: #9E9794;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    transition: max-height 0.5s ease, padding 0.5s ease;
    color: #817773;
    line-height: 1.6;
}

.faq-item.active .faq-answer {
    max-height: 300px;
    padding: 16px 20px;
    background: #FAF9F6;
    color: #817773;
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.15em;
    line-height: 1.8;
    width: 75ch;

}



