html, body{
    margin: 0;
    font-family: "Playfair", serif;
    background-color: #FAF9F6;
}

* {
    font-family: 'Playfair Display', serif;
}


section{
    margin: 0;
}

/*SECTION 1*/
.event-section-1{
     margin-top: 100px;
}

.div-split2{
    display: flex;
}

.div-left{
    width: 40%;
}

.main-event-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.div-right{
    width: 60%;
    background-color: #FAF9F6;
}

.div-main-event-text{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.1em;
}

.main-event-text{
    margin: 0;
    margin-bottom: 3vh;
    font-size: clamp(28px, 2.2vw, 45px);
    color: #817773;
    font-weight: normal;
}

.main-event-subtext{
    font-size: clamp(16px, 1.3vw, 24px);
    letter-spacing: 0.15em;
    line-height: 1.8;
    color: #817773;
    max-width: 65ch;
    text-align: justify;
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 400;
}

.event-subtext-italic{
    font-family: 'Playfair';
    font-style: italic;
    font-weight: 400;
}

.event-subtext-bold{
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 900;
}



/* SECTION 2 */
/* ---------- Для слайдера (если нужно) ---------- */

.div-slider {
    margin-top: -5px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.div-slider-content {
    display: flex;
    transition: transform 0.1s linear; /* плавное движение */
}

.slider-img {
    width: 25%;
    flex-shrink: 0;
    object-fit: cover;
}

/* SECTION 3 */
.event-section-3 .div-split2{
    flex-direction: row-reverse;
}

/* SECTION 4 */

.event-section-4{
    margin-bottom: 10vh;
}

.div-container-wed-section4{
    align-items: center;
    justify-content: center;
    display: flex;
}

.div-col-in-container{
    display: flex;
    flex-direction: column;
    width: 33.33%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div-text-in-container{
    max-width: 45ch;
    line-height: 1.7;
    letter-spacing: 0.15em;
    margin: 6.5vh 0 4vh 0;
}

.text-in-container{
    font-size: clamp(16px, 1.5vw, 30px);
    color: #817773;
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 600;
}

.btn-second-non-active{
    width: clamp(160px, 12vw, 300px);
    height: clamp(50px, 3.5vw, 70px);
    color: #FAF9F6;
    background-color: #9E9794;
    border: 1.5px solid #FAF9F6;
    border-radius: 30px;
    cursor: pointer;
    font-size: clamp(22px, 1.8vw, 34px);

    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-second-non-active:hover {
    color: #FAF9F6;
    background-color: #817773;
}


/* POPUP */
.popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s ease;
    z-index: 10000;
}

.popup.active {
    opacity: 1;
    pointer-events: auto;
}

.popup-content {
    width: 90%;
    height: 90%;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    transform: scale(.9);
    transition: .4s ease;
    background: #FAF9F6;
}

.popup.active .popup-content {
    transform: scale(1);
}

/* Close button */
.popup-close {
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 32px;
    cursor: pointer;
    color: #000;
    z-index: 20;
}

/* SLIDER BASE */
.slides-container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    transition: opacity 0.4s ease;
    position: absolute;
    inset: 0;
    transform: translateX(100%); /* старт за экраном */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
    transform: translateX(0);
}

.slide.prev {
    opacity: 0;
    transform: translateX(-100%);
}

.slide.active {
    opacity: 1;
    position: absolute;
}

/* LEFT PHOTO */
.slide-left {
    overflow: hidden;
}

.slide-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* RIGHT TEXT + MINI PHOTOS */
.slide-right {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%; /* чтобы текст не выходил за границы */
    overflow: hidden;
}

.slide-text {
    display: inline;
    font-size: clamp(16px, 1.4vw, 24px);
    line-height: 1.85;
    letter-spacing: 0.15em;
    margin-top: 10px;
    color: #817773;
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 400;
}

.read-more-text {
  display: inline;
  font-size: clamp(16px, 1.4vw, 24px);
  margin-left: 4px;
  color: #817773;
  line-height: 1.85;
letter-spacing: 0.15em;
  cursor: pointer;
  font-family: 'Playfair';
    font-style: normal;
    font-weight: 700;
}


.slide-text-wrapper {
    display: inline;         /* сколько строк показывать */
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.slide-text-wrapper.expanded {
    -webkit-line-clamp: unset;
    max-height: 60%;
    overflow-y: auto;
}

/* THUMBS */
.slide-thumbs {
    display: flex;
    gap: 10px;
    height: 40%;
}

.slide-thumbs img {
    width: calc(33.33% - 6px);
    border-radius: 8px;
    object-fit: cover;
}


/* ARROWS */
.slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 38px;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 15;
    transition: .3s;
    color: #817773
}


.slider-arrow.left {
    left: 20px;
}

.slider-arrow.right {
    right: 20px;
}
.slide-left {
    position: relative;
    overflow: hidden;
}

/* Отзыв занимает всё изображение при открытии */
.review-content {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #817773;
    padding: 4vw;
    box-sizing: border-box;
    transition: bottom 0.5s ease;
    z-index: 1;
    overflow-y: auto;
}

/* Overlay с кнопкой */
.bottom-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(360deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    color: #FAF9F6;
    transition: all 0.5s ease;
    z-index: 2;
}

/* Стрелка */
.review-arrow{
    transform: rotate(90deg);
    width: clamp(15px, 1.4vw, 25px);
    height: auto;
    fill: none;
    transition: transform 0.5s ease;
}

/* Класс при открытии */
.bottom-open .review-content {
    bottom: 0;
}

/* Поворот стрелки и скрытие текста */
.bottom-open .review-arrow {
    transform: rotate(270deg); /* исходно 90, при открытии 270 = 180° поворот */
}

.bottom-open .review-text {
    opacity: 0;
    visibility: hidden;
}

/* Стрелка перемещается наверх при открытии */
.bottom-open .bottom-overlay {
    top: 0;
    bottom: auto;
    background: none;
}

.review-open-text{
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 400;
    clamp(12px, 1.5vw, 20px);
    line-height: 1.8;
    letter-spacing: 0.1em;
    color: #FAF9F6;
}

.read-more-text-review{
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 700;
    clamp(12px, 1.5vw, 20px);
    line-height: 180%;
    letter-spacing: 0.1em;
    color: #FAF9F6;
    cursor: pointer;
}
