.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #817773;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5vw; /* вместо 3vh */
    z-index: 999;
    box-sizing: border-box; /* чтобы padding не ломал размеры */
    min-height: 80px; /* фиксированная минимальная высота */
}

.div-col-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-header {
    width: clamp(85px, 7.5vw, 150px);
    height: auto;
    fill: none;
}

.header-name{
    color: #FAF9F6;
    font-size: clamp(24px, 2vw, 36px);
    margin-left: 1.8vw;
    font-weight: 700;
}

.div-links-header{

}

.header .div-links-header .link-header:not(:last-child) {
     margin-right: 3.5vw;
}

.link-header{
    text-decoration: none;
    color: #FAF9F6;
    font-size: clamp(16px, 1.5vw, 32px);
}

.link-header:hover{
    position: relative;
}

.link-header:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px; /* расстояние от текста */
    width: 100%;
    height: 3px; /* толщина подчеркивания */
    background-color: #FAF9F6; /* цвет подчеркивания */
    border-radius: 2px; /* скругление */
}

.link-header.active-link {
    position: relative;
    font-weight: 700; /* можно чуть выделить */
}

.link-header.active-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px; /* расстояние от текста */
    width: 100%;
    height: 3px; /* толщина подчеркивания */
    background-color: #FAF9F6; /* цвет подчеркивания */
    border-radius: 2px; /* скругление */
}



.header .div-social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .social-media{
    width: clamp(35px, 3vw, 55px);
    height: auto;
    fill: none;
}

.header .div-social-media .social-media:not(:last-child) {
     margin-right: 4vw;
}

.header .social-media {
    display: inline-block;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.header .social-media:hover {
    transform: scale(1.1);
}
