/* ===========================
   GOOGLE FONTS
   =========================== */

/* Playfair Display */
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap");

/* Montagu Slab */
@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@400&display=swap");

/* Monda */
@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap");

/* Header */
@import url('header.css');

/* Footer */
@import url('footer.css');