/* POPUP */
.popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s ease;
    z-index: 10000;
}

.popup.active {
    opacity: 1;
    pointer-events: auto;
}

.popup-content {
    width: 90%;
    height: 90%;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    transform: scale(.9);
    transition: .4s ease;
    background: #FAF9F6;
}

.popup.active .popup-content {
    transform: scale(1);
}

/* Close button */
.popup-close {
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 32px;
    cursor: pointer;
    color: #000;
    z-index: 20;
}

/* SLIDER BASE */
.popup .slides-container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}

.popup .slide {
    min-width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    transition: opacity 0.4s ease;
    position: absolute;
    inset: 0;
    transform: translateX(100%); /* старт за экраном */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.popup .slide.active {
    opacity: 1;
    transform: translateX(0);
}

.popup .slide.prev {
    opacity: 0;
    transform: translateX(-100%);
}

.popup .slide.active {
    opacity: 1;
    position: absolute;
}

/* LEFT PHOTO */
.popup .slide-left {
    width: 30%;
    overflow: hidden;
}

.popup .slide-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* RIGHT TEXT + MINI PHOTOS */
.popup .slide-right {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%; /* чтобы текст не выходил за границы */
    overflow: hidden;
}

.slide-title{
    margin: 0;
    margin-bottom: 1vh;
    text-transform: uppercase;
    font-size: clamp(24px, 1.8vw, 32px);
    color: #817773;
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 700;
}

.popup .slide-text {
    display: inline;
    font-size: clamp(16px, 1.4vw, 24px);
    line-height: 1.85;
    letter-spacing: 0.15em;
    margin-top: 10px;
    color: #817773;
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 400;
}

.popup .read-more-text {
  display: inline;
  font-size: clamp(16px, 1.4vw, 24px);
  margin-left: 4px;
  color: #817773;
  line-height: 1.85;
letter-spacing: 0.15em;
  cursor: pointer;
  font-family: 'Playfair';
    font-style: normal;
    font-weight: 700;
}


.popup .slide-text-wrapper {
    display: inline;         /* сколько строк показывать */
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.popup .slide-text-wrapper.expanded {
    -webkit-line-clamp: unset;
    max-height: 60%;
    overflow-y: auto;
}

/* THUMBS */
.popup .slide-thumbs {
    display: flex;
    gap: 10px;
    height: 40%;
}

.popup .slide-thumbs img {
    width: calc(33.33% - 6px);
    border-radius: 8px;
    object-fit: cover;
}


/* ARROWS */
.popup .slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 38px;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 15;
    transition: .3s;
    color: #817773
}


.popup .slider-arrow.left {
    left: 20px;
}

.popup .slider-arrow.right {
    right: 20px;
}
.popup .slide-left {
    position: relative;
    overflow: hidden;
}

/* Отзыв занимает всё изображение при открытии */
.popup .review-content-popup {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #817773;
    padding: 2.5vw;
    box-sizing: border-box;
    transition: bottom 0.5s ease;
    z-index: 1;
    overflow-y: auto;
}

/* Overlay с кнопкой */
.popup .bottom-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(360deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    color: #FAF9F6;
    transition: all 0.5s ease;
    z-index: 2;
}

/* Стрелка */
.popup .review-arrow{
    transform: rotate(90deg);
    width: clamp(15px, 1.4vw, 25px);
    height: auto;
    fill: none;
    transition: transform 0.5s ease;
}

/* Класс при открытии */
.popup .bottom-open .review-content-popup {
    bottom: 0;
}

/* Поворот стрелки и скрытие текста */
.popup .bottom-open .review-arrow {
    transform: rotate(270deg); /* исходно 90, при открытии 270 = 180° поворот */
}

.popup .bottom-open .review-text {
    opacity: 0;
    visibility: hidden;
}

/* Стрелка перемещается наверх при открытии */
.popup .bottom-open .bottom-overlay {
    top: 0;
    bottom: auto;
    background: none;
}

.popup .review-open-text{
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(12px, 1.2vw, 20px);
    line-height: 1.8;
    letter-spacing: 0.1em;
    color: #FAF9F6;
}

.popup .read-more-text-review{
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 700;
    clamp(12px, 1.5vw, 20px);
    line-height: 180%;
    letter-spacing: 0.1em;
    color: #FAF9F6;
    cursor: pointer;
}
