/* FOOTER */
footer{
     background-color: #817773;
     padding: clamp(30px, 5vh, 55px) clamp(50px, 10vw, 120px);
     color: #FAF9F6;
 }

 .div-split-footer{
    display: flex;
    justify-content: space-between;
 }

 .div-left-footer{
     display: flex;
 }

 .footer-logo {
    width: clamp(160px, 12vw, 280px);
    height: auto;
    fill: none;
}

.div-name-footer{
    margin-left: clamp(10px, 2vw, 30px);
}

.text-name-footer{
    margin: 0;
    font-size: clamp(24px, 2.1vw, 40px);
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 800;
}

.text-wedding-host-footer{
    margin: 0;
    font-size: clamp(18px, 1.2vw, 24px);
    max-width: 30ch;
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 400;
}

 .div-bottom-footer{
    display: flex;
    justify-content: space-between;
    margin-top: clamp(20px, 3vh, 35px);
 }

.left-bottom-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-footer{
    position: relative;
    text-decoration: none;
    color: #FAF9F6;
    font-size: clamp(16px, 1.7vw, 32px);
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 400;
}

.link-footer::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;          /* самая высокая точка, ближе уже не будет */
    height: 1px;        /* толщина линии */
    background: currentColor;
}

.left-bottom-footer .link-footer:not(:last-child) {
     margin-right: clamp(50px, 7vw, 140px);
}

.center-bottom-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.year-created-footer{
    font-size: clamp(10px, 1.2vw, 20px);
    font-family: 'Montagu Slab';
    font-style: normal;
    font-weight: 400;
}

.right-bottom-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-social-media-footer .social-media-f:not(:last-child) {
     margin-right: clamp(40px, 4.2vw, 100px);
}

.social-media-f {
    display: inline-block;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.social-media-f:hover {
    transform: scale(1.1);
}

.div-social-media-footer .social-media-f svg{
    width: clamp(30px, 3vw, 58px);
    height: auto;
    fill: none;
}


.phone-footer{
    margin: 0;
    font-size: clamp(16px, 1.5vw, 32px);
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 400;
}

.phone-footer a{
    font-size: clamp(16px, 1.2vw, 32px);
    font-family: 'Monda';
    font-style: normal;
    font-weight: 400;
    color: #FAF9F6;
    text-decoration: none;
}

.mail-footer{
    margin: 0;
}

.mail-footer a{
    font-size: clamp(16px, 1.5vw, 32px);
    color: #FAF9F6;
    text-decoration: none;
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 400;
}