html, body{
    margin: 0;
    font-family: "Playfair", serif;
    background-color: #FAF9F6;
}

* {
    font-family: 'Playfair Display', serif;
}

/*SECTION 1*/
.services-section1{
    margin-bottom: 10vh;
}

.div-services-cards{
    display: flex;
}

.services-card {
    position: relative;
    width: 33.33%;
    overflow: hidden;
}

.services-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease;
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        0deg,
        rgba(0,0,0,0.4)
    );
}

.services-content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.services-main-text {
    font-size: clamp(28px, 2vw, 40px);
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    width: 37vh;
    color: #FAF9F6;
    transition: transform 0.5s ease, color 0.5s ease;
}

.services-card:hover .services-image {
    transform: scale(1.1); /* увеличиваем фото */
}

.services-card:hover .services-main-text {
    transform: scale(1.05); /* аккуратное увеличение текста */
}

.half-ellipse {
    position: absolute;
    bottom: 0;

    width: 10vw;
    height: 4vh;
    background: #817773;

    border-top-left-radius: 20vh;
    border-top-right-radius: 20vh;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.services-price{
    font-size: clamp(14px, 1.1vw, 20px);
    line-height: 1.5;
    letter-spacing: 0.12em;
    font-style: italic;
    color: #FAF9F6;
}


.services-content-without-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5vh 5.3vh
}

.services-main-text-without-img{
    margin: 0;
    margin-bottom: 0.5vh;
    font-weight: 700;
    text-transform: uppercase;
    color: #817773;
    font-size: clamp(16px, 1.2vw, 24px);
    line-height: 1.9;
    letter-spacing: 0.12em;
}


.services-span-text{
    font-size: clamp(14px, 1.1vw, 20px);
    font-weight: 600;
    color: #817773;
    line-height: 1.9;
    letter-spacing: 0.12em;
}


/*SECTION 2*/
.div-split2{
    display: flex;
}

.div-left-facts-services{
    width: 50%;
    padding: 8.5vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-text-facts{
    margin: 0;
    margin-bottom: 3vh;
    font-size: clamp(24px, 2.5vw, 48px);
    color: #817773;
    line-height: 1.9;
    letter-spacing: 0.05em;
    font-weight: 400;
}

.div-fact-item{
    border: 1px solid #817773;
    display: flex;
    align-items: center;
    width: 80%;
}

.div-fact-item-number{
    width: 15%;
    background: #817773;

    display: flex;
    justify-content: center;
    align-items: center;

}

.div-left-facts-services .div-fact-item:not(:last-child) {
     margin-bottom: 7vh;
}

.fact-item-number{
    font-family: 'Montagu Slab', serif;
    font-weight: 500;
    font-size: clamp(16px, 3vw, 64px);
    line-height: 1.9;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.div-fact-item-text{
    display: flex;
    align-items: center;
    padding-left: 3vh;
    font-size: clamp(16px, 3vw, 24px);
    line-height: 1.8;
    letter-spacing: 0.1em;
}

.fact-item-text{
    font-weight: 300;
    font-size: clamp(16px, 1.4vw, 24px);
    line-height: 1.3;
    letter-spacing: 0.1em;
    color: #817773;
    text-transform: lowercase;
    display: inline-block;
    max-width: 40ch;
}

.div-right-fact-services{
    width: 50%;
}

.img-fact-services{
    width: 100%;
    object-fit: cover;
    height: 100%;
    max-height: 950px;
}

footer{
     background-color: #817773;
     padding: clamp(30px, 5vh, 55px) clamp(50px, 10vw, 120px);
     color: #FAF9F6;
 }

 .div-split-footer{
    display: flex;
    justify-content: space-between;
 }

 .div-left-footer{
     display: flex;
 }

 .footer-logo {
    width: clamp(160px, 12vw, 280px);
    height: auto;
    fill: none;
}

.div-name-footer{
    margin-left: clamp(10px, 2vw, 30px);
}

.text-name-footer{
    margin: 0;
    font-size: clamp(24px, 2.1vw, 40px);
}

.text-wedding-host-footer{
    margin: 0;
    font-size: clamp(18px, 1.2vw, 24px);
    max-width: 30ch;
}

 .div-bottom-footer{
    display: flex;
    justify-content: space-between;
    margin-top: clamp(20px, 3vh, 35px);
 }

.left-bottom-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-footer{
    color: #FAF9F6;
    font-size: clamp(16px, 1.8vw, 32px);
}

.left-bottom-footer .link-footer:not(:last-child) {
     margin-right: clamp(50px, 7vw, 140px);
}

.center-bottom-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.year-created-footer{
    font-size: clamp(16px, 1.6vw, 30px);
}

.right-bottom-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-social-media-footer .social-media:not(:last-child) {
     margin-right: clamp(40px, 5vw, 100px);
}

.social-media {
    display: inline-block;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.social-media:hover {
    transform: scale(1.1);
}


.phone-footer, .mail-footer{
    margin: 0;
    font-size: clamp(16px, 1.8vw, 32px);
}

.header{
    background: #817773;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 5vw;
}

.div-col-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-header {
    width: clamp(85px, 7.5vw, 150px);
    height: auto;
    fill: none;
}

.header-name{
    color: #FAF9F6;
    font-size: clamp(24px, 2vw, 36px);
    margin-left: 1.8vw;
    font-weight: 700;
}

.div-links-header{

}

.header .div-links-header .link-header:not(:last-child) {
     margin-right: 3.5vw;
}

.link-header{
    text-decoration: none;
    color: #FAF9F6;
    font-size: clamp(16px, 1.8vw, 32px);
}


.header .div-social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .social-media{
    width: clamp(35px, 3vw, 55px);
    height: auto;
    fill: none;
}

.header .div-social-media .social-media:not(:last-child) {
     margin-right: 4vw;
}

.header .social-media {
    display: inline-block;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.header .social-media:hover {
    transform: scale(1.1);
}
