html, body{
    margin: 0;
    font-family: "Playfair", serif;
    background-color: #FAF9F6;
}

* {
    font-family: 'Playfair Display', serif;
}


section{
    margin: 0;
}

/*SECTION 1*/
.div-split2{
    display: flex;
}

.div-left{
    width: 40%;
}

.main-wedding-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.div-right{
    width: 60%;
    background-color: #FAF9F6;
}

.div-main-wedding-text{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
}

.main-wedding-text{
    margin: 0;
    margin-bottom: 3vh;
    font-size: clamp(28px, 2.5vw, 45px);
    color: #817773;
    font-weight: normal;
}

.main-wedding-subtext{
    font-size: clamp(16px, 1.4vw, 24px);
    letter-spacing: 0.15em;
    line-height: 1.84;
    color: #817773;
    max-width: 65ch;
    text-align: justify;
}



/* SECTION 2 */
/* ---------- Для слайдера (если нужно) ---------- */

.div-slider {
    margin-top: -5px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.div-slider-content {
    display: flex;
    transition: transform 0.1s linear; /* плавное движение */
}

.slider-img {
    width: 25%;
    flex-shrink: 0;
    object-fit: cover;
}

/* SECTION 3 */
.wedding-section-3 .div-split2{
    flex-direction: row-reverse;
}

/* SECTION 4 */

.wedding-section-4{
    margin-bottom: 10vh;
}

.div-container-wed-section4{
    align-items: center;
    justify-content: center;
    display: flex;
}

.div-col-in-container{
    display: flex;
    flex-direction: column;
    width: 33.33%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div-text-in-container{
    max-width: 45ch;
    line-height: 1.7;
    letter-spacing: 0.15em;
    margin: 6.5vh 0 4vh 0;
}

.text-in-container{
    font-size: clamp(16px, 1.6vw, 30px);
    color: #817773;
}

.btn-second-non-active{
    width: clamp(200px, 15vw, 300px);
    height: clamp(50px, 3.5vw, 70px);
    color: #FAF9F6;
    background-color: #9E9794;
    border: 1.5px solid #FAF9F6;
    border-radius: 30px;
    cursor: pointer;
    font-size: clamp(22px, 1.8vw, 34px);

    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-second-non-active:hover {
    color: #FAF9F6;
    background-color: #817773;
}


/* POPUP */
.popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s ease;
    z-index: 10000;
}

.popup.active {
    opacity: 1;
    pointer-events: auto;
}

.popup-content {
    width: 90%;
    height: 90%;
    background: #fff;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    transform: scale(.9);
    transition: .4s ease;
    background: #FAF9F6;
}

.popup.active .popup-content {
    transform: scale(1);
}

/* Close button */
.popup-close {
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 32px;
    cursor: pointer;
    color: #000;
    z-index: 20;
}

/* SLIDER BASE */
.slides-container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
}

.slide {
    min-width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    transition: opacity 0.4s ease;
    position: absolute;
    inset: 0;
    transform: translateX(100%); /* старт за экраном */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
    transform: translateX(0);
}

.slide.prev {
    opacity: 0;
    transform: translateX(-100%);
}

.slide.active {
    opacity: 1;
    position: absolute;
}

/* LEFT PHOTO */
.slide-left {
    overflow: hidden;
}

.slide-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* RIGHT TEXT + MINI PHOTOS */
.slide-right {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%; /* чтобы текст не выходил за границы */
    overflow: hidden;
}

.slide-text {
    font-size: clamp(16px, 1.4vw, 24px);
    line-height: 1.85;
    letter-spacing: 0.15em;
    margin-top: 10px;
    color: #817773;
}
.read-more-text {
    color: #817773;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline; /* выглядит как ссылка */
    margin-left: 4px;
}


.slide-text-wrapper {
    max-height: 18em;        /* показываем примерно 3 строки текста */
    overflow: hidden;          /* скрываем остальное */
    transition: max-height 0.5s ease;
}

.slide-text-wrapper.expanded {
    max-height: 1000px;       /* достаточно, чтобы показать весь текст */
    overflow-y: auto;          /* появится скролл при необходимости */
}

/* THUMBS */
.slide-thumbs {
    display: flex;
    gap: 10px;
    height: 40%;
}

.slide-thumbs img {
    width: calc(33.33% - 6px);
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
    object-fit: cover;
}

.slide-thumbs img:hover {
    transform: scale(1.05);
}

/* ARROWS */
.slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 38px;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 15;
    transition: .3s;
    color: #817773
}


.slider-arrow.left {
    left: 20px;
}

.slider-arrow.right {
    right: 20px;
}

footer{
     background-color: #817773;
     padding: clamp(30px, 5vh, 55px) clamp(50px, 10vw, 120px);
     color: #FAF9F6;
 }

 .div-split-footer{
    display: flex;
    justify-content: space-between;
 }

 .div-left-footer{
     display: flex;
 }

 .footer-logo {
    width: clamp(160px, 12vw, 280px);
    height: auto;
    fill: none;
}

.div-name-footer{
    margin-left: clamp(10px, 2vw, 30px);
}

.text-name-footer{
    margin: 0;
    font-size: clamp(24px, 2.1vw, 40px);
}

.text-wedding-host-footer{
    margin: 0;
    font-size: clamp(18px, 1.2vw, 24px);
    max-width: 30ch;
}

 .div-bottom-footer{
    display: flex;
    justify-content: space-between;
    margin-top: clamp(20px, 3vh, 35px);
 }

.left-bottom-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-footer{
    color: #FAF9F6;
    font-size: clamp(16px, 1.8vw, 32px);
}

.left-bottom-footer .link-footer:not(:last-child) {
     margin-right: clamp(50px, 7vw, 140px);
}

.center-bottom-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.year-created-footer{
    font-size: clamp(16px, 1.6vw, 30px);
}

.right-bottom-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-social-media-footer .social-media:not(:last-child) {
     margin-right: clamp(40px, 5vw, 100px);
}

.social-media {
    display: inline-block;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.social-media:hover {
    transform: scale(1.1);
}


.phone-footer, .mail-footer{
    margin: 0;
    font-size: clamp(16px, 1.8vw, 32px);
}

.header{
    background: #817773;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 5vw;
}

.div-col-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-header {
    width: clamp(85px, 7.5vw, 150px);
    height: auto;
    fill: none;
}

.header-name{
    color: #FAF9F6;
    font-size: clamp(24px, 2vw, 36px);
    margin-left: 1.8vw;
    font-weight: 700;
}

.div-links-header{

}

.header .div-links-header .link-header:not(:last-child) {
     margin-right: 3.5vw;
}

.link-header{
    text-decoration: none;
    color: #FAF9F6;
    font-size: clamp(16px, 1.8vw, 32px);
}


.header .div-social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .social-media{
    width: clamp(35px, 3vw, 55px);
    height: auto;
    fill: none;
}

.header .div-social-media .social-media:not(:last-child) {
     margin-right: 4vw;
}

.header .social-media {
    display: inline-block;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.header .social-media:hover {
    transform: scale(1.1);
}



